@import '../GlobalStyles.scss';

.AddProduct__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__label {
        color: rgb(139, 139, 139);
        margin: 0;
        margin-bottom: 3px;
    }

    &__text {
        @include defaultInput(100%, 10px);
        flex: 0 0 100%;
    }

    &__number {
        @include defaultInput(100%, 10px);
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        @include defaultBtn(100px, 10px);
        flex: 0 0 100px;
    }
}

.AddProduct__close-btn {
    @include defaultBtn(70px, 0);
}