@import '../GlobalStyles.scss';

.Toolbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid $grey;
    margin: 0 30px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    color: $menuTextColour;

    &__menu {
        margin-right: 5px;
    }

    //using !important here to over ride the react-bootstrap default styles.
    &__toggle {
        background-color: transparent !important;
        border: none !important;
        color: $menuTextColour !important;
        border-radius: 3px !important;
        display: flex !important;
        align-items: center !important;

        &:focus {
            box-shadow: none !important;
        }

        &:hover {
            background-color: rgb(245, 245, 245) !important;
        }
    }

    &__toggle::after {
        margin-left: 10px !important;
    }

    &__dropdown-item {
        color: $menuTextColour !important;

        &:active {
            box-shadow: none !important;
            color: $menuTextColour !important;
            outline: none;
        }
    
        &:hover {
            background-color: rgb(245, 245, 245) !important;
        }
    
        &:focus {
            background-color: rgb(238, 238, 238) !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }
}