@import '../GlobalStyles.scss';

.EditProductForm {
    padding: 40px;
    margin: 0 30px 30px 30px;
    background-color: white;
    color: $menuTextColour;
    position: relative;
    border: 1px solid $grey;
    display: inline-block;

    @media (max-width: 576px) {
        margin: 0;
        padding: 15px;
    }

    &--loading {
        height: 300px;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__form {
        width: 500px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__txt-input-wrapper {
        flex: 0 0 100%;
    }

    &__label {
        display: block;
        color: rgb(139, 139, 139);
        font-size: 16px;
        margin: 0;
        margin-bottom: 3px;
    }

    &__txt-input {
        @include defaultInput(100%, 10px);
    }

    &__num-input {
        @include defaultInput(100%, 10px);
        display: inline;
    }

    &__submit-btn {
        @include defaultBtn(100%, 15px);
    }

    &__padlock-icn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        margin: 5px;
        padding: 10px;
        cursor: pointer; 
        
        
        @media (max-width: 576px) {
            font-size: 22px;
        }
    }
}