@import '../GlobalStyles.scss';

.Menubar {
    width: 100%;
    background-color: $secondaryColour;
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 3px 0 3px 0;
    z-index: 1;

    @media (max-width: 576px) {


    }

    &__toggle-btn {
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        width: 40px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: all 0.5s ease;
        border: 0;
        background-color: transparent;
        
        &:hover {
            background-color: $secondaryHover;
            outline: none;
        }

        &:focus {
            outline: none;
        }
    
        .fas.fa-bars {
            border-radius: 50%;
            font-size: 18px;
            color: white;
            outline: none;

            @media (max-width: 576px) {
                font-size: 20px;
            }
        }

        @media (max-width: 576px) {
            margin-left: 5px;
            margin-right: 5px;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
    }

    &__header {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        margin-left: 15px;

        @media (max-width: 576px) {
            font-size: 20px;
            margin-left: 0;
            padding: 10px;
        }
    }
}

.Menubar__usr-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 30px;
    align-items: center;
    font-size: 12px;

    &__header {
        font-size: 16px;
        margin: 0;
    }

    .fas.fa-user {
        background-color: white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondaryColour;
        margin-right: 10px;

        @media (max-width: 576px) {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    @media (max-width: 576px) {
        margin-right: 12px;
    }
}