@import '../GlobalStyles.scss';

.Navbar {
    width: 0px;
    height: 100vh;
    transition: width 0.3s ease;
    -webkit-transition: width .03s linear;
    -webkit-transition: width 0.3s ease;
    font-size: 15px;
    float: left;
    overflow-x: hidden;
    border-right: 1px solid $grey;
    background-color: white;

    @media (max-width: 576px) {
        height: -webkit-fill-available;
	}
    
    &--open {
        width: 220px;

        @media (max-width: 576px) {
            width: 60%;
        }
    }

    &__link {
        color: $menuTextColour;
        display: block;
        padding: 14px;

        &:hover {
            color: $menuTextColour;
            text-decoration: none;
            background-color: rgb(240, 240, 240);
        }

        @media (max-width: 576px) {
            font-size: 18px;
            padding: 12px 18px;
            height: max-content;
            overflow: hidden;
        }
    }

    &__ul {
        width: 100%;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        display: inline-block;

        .fas {
            margin-right: 14px;
            margin-left: 5px;
            width: 25px;
        }

        button {
            border: none;
            background-color: inherit;
            text-align: left;
            width: 100%;
            
            &:focus {
                outline: none;
            }
        }
    }
}