@import '../GlobalStyles.scss';

.ProductDetails {
    color: $menuTextColour;
    margin: 30px 30px 0 30px;
    
    @media (max-width: 576px) {
        margin: 0;
        margin-top: 30px;
    }

    &--loading {
        height: 300px;
    }

    &__header {
        margin-bottom: 20px;
        font-size: 22px;
    }

    &__item {
        border-bottom: 1px solid rgb(235, 235, 235);
        padding: 15px 0;
    }

    &__item:last-child {
        border-bottom: none;
    }

    &__sub-heading {
        font-size: 16px;
    }

    &__content {
        color: rgb(141, 141, 141);
        float: right;

        
        @media (max-width: 576px) {
            float: initial;
            display: block;
        }
    }

    .fa-chevron-circle-right {
        margin-right: 10px;
    }
}

