@import './GlobalStyles.scss';

.AddCategory__form {
    display: flex;
    flex-direction: column;

    &__label {
        color: $lightTxtColour;
        margin: 0;
        margin-bottom: 3px;
    }

    &__input {
        @include defaultInput(100%, 10px);
    }

    &__btn {
        @include defaultBtn(100px, 10px);
    }
}

.AddCategory__close-btn {
    @include defaultBtn(70px, 0);
}