@import './GlobalStyles.scss';

.confirmDelete {
    @include defaultBtn(15%, 0);
}

.cancelDelete {
    @include defaultBtn(15%, 0);
    background-color: $primaryColour;
}

.deleteText {
    color: $menuTextColour;
    font-size: 16px;
}