@import './GlobalStyles.scss';

.Login-form-wrapper.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .Login-form-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    height: 40%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

        h4 {
          color: $menuTextColour;
          font-size: 20px;
          text-align: center;
          padding: 5px;
        }

        .LoginRegisterLink {
          font-size: 14px;
          text-align: center;
          padding: 5px;
        }
}

.loginMessage {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.loginError {
    font-size: 16px;
    padding: 4px;
    background-color: $secondaryColour;
    color: white;
    width: 100%;
    text-align: center;
}

.Login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

        input[type="text"],
        input[type="password"] {
            @include defaultInput(60%, 1.8%);
        }

        input[type="submit"] {
            @include defaultBtn(60%, 0);
        }
}