@import './GlobalStyles.scss';

// font-family: 'Roboto', sans-serif;
// font-family: 'PT Sans', sans-serif;

.Login-root {
    background-color: $primaryColour;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.Login-form-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    height: 40%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

        h4 {
            font-size: 14px;
            text-align: center;
            padding: 5px;
        }
}

.Login-logo {
    color: white;
    font-size: 42px;
    font-weight: 700;
    margin: 20px;

     span {
         font-size: 18px;
         font-weight: 400;
     }
}