@import './GlobalStyles.scss';

.productRoot {
	height: 200px;
	background-color: $primaryColour;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    } 
}

.productRoot.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productName {
    padding: 14px;
    display: flex;
    align-items: center;
    background-color: $primaryAltColour;
    color: white;

    i {
        margin: 0;
        font-size: 26px;
        margin-right: 15px;
    }

    h4 {
        margin: 0;
        font-size: 18px;
    }
}

.productDetails {
    padding: 25px;


    h5 {
        color: white;
        font-size: 16px;
    }
}
