@import './GlobalStyles.scss';

.CardRoot {
	// background-color: $primaryColour;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid $grey;
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.01);
    } 

    &:hover .CardName {
        background-color: $primaryAltColour;
    }

    &:hover .CardDelete {
        opacity: 1;
    }
}

.CardRoot.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.CardName{
    padding: 14px;
    display: flex;
    align-items: center;
    background-color: $primaryColour;
    color: white;
    transition: background-color 0.3s ease;

    i.CardIcon {
        margin: 0;
        font-size: 26px;
        margin-right: 15px;
    }

    h4 {
        margin: 0;
        font-size: 16px;
    }
}

.CardDetails {
    padding: 25px;


    h5 {
        color: $menuTextColour;
        font-size: 16px;
    }
}


.CardDelete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 16px;
    opacity: 0;
    z-index: 10;

    &:hover {
        background-color: $primaryAltColour;
    }
}

.CardEdit {
    position: absolute;
    bottom: 0;
    color: $menuTextColour;
    right: 0;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 3px;

    &:hover {
        background-color: $primaryAltColour;
        color: white;
    }

}
