@import './GlobalStyles.scss';

.WidgetContainer {
    border: 1px solid $grey;
    background-color: white;
    color: white;
}

.widgetTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: $primaryColour;
    position: relative;


    h5 {
        font-size: 16px;
        margin: 0;
        text-transform: uppercase;
    }

    i {
        font-size: 24px;
        position: absolute;
        left: 10px;
    }
}

.widgetContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $menuTextColour;
    padding: 10px;

    p {
        margin: 0;
    }
}

